body
{
	background-color: #bdc3c7; 
}
h1
{
	color: #9b59b6;
}

h2
{
	color: orange;
}
li {
	color: blue;	
}

p
{
	background-color: yellow;
}

input
{
	border:  3px red solid;
}
.hello
{
	background-color: white;
}
#special
{
	border: 2px solid rgb(0,0,254);
}
 div>p
 {
 	font-size: 25px;
 }

 input[type=text]
 {
 	background-color: gray;
 }
div: nth-child(3) p: nth-child(2)
{
	border:5px white solid;
}
div: nth-child(3)  em
{
	font-size: 20px
	color:white;
}
input: checked 
{
	margin-left: 50px;
}
label
{
	text-transform: uppercase;
}
#special: first-letter
{
	font-size: 100px;
	color: green;
}
 h1: hover
 {
 	color: blue;
 }
 a: visited
 {
 	color: gray;+-
 }