td
{
	border:0px black solid;
	padding:50px;
	margin: 0px;
}

tr
{
	margin:0px;
}
h1
{
	text-align: center;
}
table {
	margin:auto;
}
.vertical
{
	border-right:1px solid black;
	border-left:1px solid black;
}

.horizontal
{
	border-top:1px solid black ;
	border-bottom:1px solid black;
}