<% include ../partials/header%>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class = "container">
    <header class = "jumbotron">
        <div class = "container">
            <h1><span class="glyphicon glyphicon-tent"></span> Welcome To YelpCamp!</h1>
                <p>View our hand-picked campgrounds from all over the world</p>
            <a  class = "btn btn-primary btn-large" href = "/campgrounds/new">Add new campSite</a>
        </div>    
    </header>
    <div class = "row" style = "display : flex ; flex-wrap : wrap;">
        <% campground.forEach(function(camp){ %>
            <div class = "col-md-3 col-sm-6">
                <div class = "thumbnail" >
                    <img src = "<%= camp.image%>">
                    <div class = "caption text-center">
                        <h4><%= camp.name %></h4>
                        <a class = "btn btn-primary " href = "/campgrounds/<%= camp._id %>">More Info</a>
                    </div>
                    
                </div>
            </div>
        <% }) %>
    </div>    
</div>    
<% include ../partials/footer%>

